* {
  font-family: Helvetica;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-size: 70px;
  color: white;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

.hdnav {
  font-size: 18px;
  color: white;
  list-style: none;
}

.header {
  background-image: url("the-flatiron-building.png");
  text-align: center;
}

.footer {
  background-color: dimgray;
}

.process{
  text-align: center;
}

.design{
  text-align: center;
}

#copyright {
  font-size: 11px;
  color: white;
}

#diny{
  color: white;
  background-image: url("the-flatiron-building.png");
}
